html {
    // font-family: "Tahoma", "Arial","LiHei Pro","微軟正黑體", sans-serif !important;
    color: $clr-gray2;
    font-size: 16px;
    letter-spacing: .3px;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
}
h2{
    font-size: 1.6rem;
    margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color:$clr-gray1;
}


details {
    .details_content{
        padding-top: 1.25rem;
        padding-bottom: 1rem;
    }
}