.page-enter-active, .page-leave-active {
    transition: opacity .2s;
}
.page-enter, .page-leave-active {
    opacity: 0; 
}

.f-align-content {
    &\:c {
        align-content:center;
    }
}
.article-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon-link {
    opacity: .3;
    transition: all .4s ease;

    &:hover {
        opacity: .7;
    }
}

.f-content {
    max-width:1280px;
    margin: auto;
}

.text {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.5rem;
}
[class^=br\@s] {
    display: block;
}



@media screen and (min-width:576px) {
    .br\@sm{
        display: inline;
    }
    .u-hi\@sm\:100vh{
        min-height: 100vh;
    }
}
@media screen and (min-width:768px) {
    .br\@md{
        display: inline;
    }
    .u-hi\@md\:100vh{
        min-height: 100vh;
    }
}

