.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    padding: 12px;
}

#l-aside {
    overflow: hidden;
    left: -50%;
    opacity: 0;
    transition: all .5s ease-in-out;
    pointer-events: none;

    &.open {
        left: 0;
        opacity: 1;
        pointer-events: auto;
    }

    .nav_col {
        text-align: center;

        .nav_item {
            position: relative;
            padding-left: 0px;
            padding-right: 0px;
            color: $clr-gray2;
            border-radius: 0;
            width: auto;
            display: inline-block;
            text-align: center;

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 3px;
                height: 1px;
                border: .7px solid #388eee;
                opacity: 0;
                transition: all .3s ease;
                width: 0;
                left: 50%;
            }

            &.nuxt-link-exact-active {
                color: #388eee;

                &::after {
                    opacity: .8;
                    width: 100%;
                    left: 0%;
                }
            }
        }
    }
}

#nav_icon {
    width: 30px;
    height: 25px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;
    opacity: .4;

    &.open {
        opacity: 1;
    }

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $clr-gray2;
        border-radius: 6px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    span:nth-child(1) {
        top: 0px;
    }

    span:nth-child(2) {
        top: 10px;
    }

    span:nth-child(3) {
        top: 20px;
    }

    &.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 3px;
        left: 8px;
    }

    &.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    &.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 24px;
        left: 8px;
    }
}

.download-btn-grp {
    position: absolute;
    left: 2rem;
    bottom: .2rem;

    .download-btn {
        opacity: .4;
        transition: opacity .6s ease;
        display: block;
        height: auto;
        margin-bottom: .6rem;

        &:hover {
            opacity: 1;
        }

        a {
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            text-align: center;
            display: inline-block;
            position: relative;
        }

        img {
            position: absolute;
            width: 70%;
            margin: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.progress-skill {
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    .title {
        flex: 0 0 100%;
        text-align: left;
        margin-right: 1.25rem;
        color: $clr-gray1;
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 1.25rem;
        font-weight: 400;
    }

    .progress {
        flex: 0 1 100%;
    }

    .progress_bar {
        line-height: 1.25rem;
        height: 1.25rem;
        transition: all 1s ease-in-out;
    }

}

.skill-title {
    padding-left: 2.5rem;
    position: relative;
    margin-bottom: 2rem;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1rem .6rem 0 .6rem;
        top: 5px;
        position: absolute;
        left: 0;
        border-color: #707070 transparent transparent transparent;

    }
}

.donut {
    margin-bottom: 1.5rem;
    max-width: 120px;

    .donut-segment {
        transition: all 1s ease-in-out;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
    }

    text {
        color: $clr-gray2;
        font-size: .45rem;
    }
}

.tab{
    
    .tab_head{
        flex-wrap: wrap;
        // overflow-x: auto;
    }
    @media screen and (max-width: 420px){
        .tab_head{
            .tab_item{
                padding: 1rem .8rem;
            }
        }
        
    }
}