#l-body {
    height: 100vh;
}

#l-main,
#l-aside,
#l-article {
    height: 100vh;
}

#l-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

#l-aside {
    background-color: #eee;
    width: 100%;
    z-index: 99;
    position: fixed;

    header {
        height: 180px;

        h2 {
            line-height: 150px;
        }

        img {
            padding-top: 20px;
            width: 160px;
        }
    }

    .avatar {
        width: 60%;
    }

    .nav .nav_item {
        text-align: center;
    }
}

#l-article {}

#skill-section {
    .donut {
        padding-left: .8rem;
        padding-right: .8rem;
    }
}