@media screen and (min-width:768px) {
    html {
        font-size: 16px;
    }
    #l-aside {
        header{
            min-height: 200px;
        }
    }
}
@media screen and (min-width:1024px) {
    #l-aside {
        position: fixed;
        width:20%;
        pointer-events: auto;
        opacity: 1;
        left: 0;
    }
    #l-main{
        margin-left:20%;
    }

    #nav_icon {
        display: none;
    }

    .page-enter-active, .page-leave-active {
        transition: opacity .5s;
    }
    .page-enter, .page-leave-active {
        opacity: 0; 
    }

    .progress-skill{
        flex-wrap: nowrap;
        .title {
            flex: 0 0 40%;
            text-align: right;
        }
        .progress{
            flex: 0 1 60%;
        }
    }
    .donut {
        max-width: 180px;
    }
}

@media screen and (min-width:1280px) {
    #l-aside {
        flex: 0 0 15%;
    } 
    details {
        .details_content {
            padding-left: 0 1rem 0 2.5rem
        }
    }
}