<template>
  <div class="about-section">
    <Section>
      <div class="f-col:12 f-col@lg:10">
        <h1>關於我</h1>
        <h2>《家庭背景》</h2>
        <p>
          我是胡智瑋，可以叫我
          AKen，高雄人，我生長在完整的家庭，家中有五位成員，分別為爸爸、媽媽以及姊姊和妹妹。我排行老二，為家中長子，從懂事以來就知道自己要背負較多責任，因此常常警惕自己要好好努力賺錢回饋父母。父母個性開朗樂觀，與他們相處就像和朋友一樣自然灑脫，可能是因為這樣的關係，讓我在人際關係上比較沒有拘束，開朗且大方自然。而家中有道教信仰，從小就被教育其中道理，待人處事，在他們的言教及身教下，養成了我誠實的美德。
        </p>
        <hr />
        <h2>《求學過程》</h2>
        <p>
          我從幼稚園的時候就已經有接觸電腦的經驗，那個時候還是 Dos 系統，直到小學，就開始玩一些 Dos
          的電腦遊戲，也上過電腦補習班，而對於電腦軟體的興趣，也因此造就我一步步邁向工程師的路程。坦白說我是一個蠻愛玩的學生，從小數理科的成績一直是最好的，要我死背的東西反而頗有難度，所以成績起起伏伏。直到大學時期開始與統計學老師，程深教授接觸後，他對我的印象非常好，從專題到研究所甚至一起工作，時常還會幫老師處理一些國科會計畫或產學合作計畫，因此老師很信任我，算是已經有革命情感的微妙關係存在。程老師很喜歡研究創新的題材，對生醫技術方面非常有興趣，但很多時候都摸不著頭緒，因此培養了我們都很習慣自己找問題、發現問題、解決問題的能力，同時也讓我的視野變得開闊，勇敢創新，樂於挑戰新的領域。師恩難以回報，我也希望未來所學能夠回饋老師，完成他的理想。
        </p>
        <hr />
        <h2>《人格特質 & 興趣》</h2>
        <p>
          我就是一個水瓶男，朋友常常說我思想古怪、標新立異、舉一反十，人來瘋的時候有點太活潑，還好只對朋友才這樣。我很喜歡交朋友，周遭朋友常覺得我很適合當業務，習慣笑臉迎人，善於表達自己，喜歡做自己，比較沒有拘束又健談。
          <br />
          我的休閒興趣是聽音樂、看電影、寫程式、看書，偶爾會玩手遊，曾經也夢想過成為 DJ 或音樂製作人，所以有自學過 FL Studio 或一些 DJ
          軟體，也學過一兩年吉他，但因為現實問題，最後還是決定好好發展工程師這條路，把其他興趣轉換到生活中並享受它。另外對於創業也有相當的憧憬，佷希望把自己所學帶給社會、身邊的人，創造一些服務性的產品，讓大家都可以成為更好更優秀的人，也能為生活帶來便利，所以想努力累積經驗與實力，未來都希望能往這個方向發展，來分享創業的經驗，甚至創造就業、理財機會，幫大家賺錢，實現夢想。
        </p>
        <hr />
        <h2>《工作經歷》</h2>
        <p>
          除了在打工時期做過一些服務業的工作外，全職工作開始都在當全端工程師，私底下偶爾會兼職接一些網站設計外包案，主要目的是想累計實戰經驗，了解客戶需求。
        </p>
        <h3>大寶科技</h3>
        <p>在我讀研究所的時候，以產學合作關係駐點進去協助開發，主要去學習腦波相關產品的開發研究。</p>

        <h3>科睿生物科技</h3>
        <p>
          當兵退伍後，教授以創業的名義邀請我來公司當研發人員，主要工作還是以全端工程師為主。由於公司規模不大，每位工程師各施其職，各自擔任不同的研發工作，每個項目都由一個人負責。產品市場則定位在大陸，因此常常也會和河南鄭州的銷售部同仁溝通，討論專案及市場需求，也有在河南正骨醫院配合臨床醫師，在醫院協助臨床測試，透過我們開發的產品找到可能有心血管疾病的潛在用戶。
        </p>
        <h3>邁圈數位整合</h3>
        <p>
          一位開發 Kule Lazy Freamwork 的資深前端工程師 Kei 和後端工程師 Richy
          邀請我來台北一起組研發團隊，加入邁圈數位整合有限公司，成立研發部，全力開發 DMP
          系統，不過主力還是在前端工作上，偶爾支援後端，有趣的是，主管 Kei 也藉由這個機會成立了讀書會，讓我們每人寫份 PPT
          在每個週五分享自己的閱讀心得，一起學習成長。但很可惜公司被日本併購後，不需要開發部門，因此整個部門被裁撤，只好就此解散。
        </p>
        <h3>思華科技</h3>
        <p>
          負責金流的研發公司，位於台北 101，開發團隊很龐大，辦公室有 100 多個開發人員，而我們前端則有 15
          位，能和這麼多前端一起交流，真的很棒，受益良多。
        </p>
        <p>
          專案有使用 Vue 和 React，UI Kits 則有 Element UI 及 Ant Design，API 串接有 GraphQL 、REST 和 Socket。負責的專案有 3
          個，有瀏覽器前後台開發、VPN App 前後台維護及金流管理後台，另外有參與多項從無到有的專案開發，虛擬貨幣交易所、3 個金流後台，IT
          服務部屬應用管理後台。提交的代碼都會安排人員 Code Review，原本是用 Trello 管理專案，之後又改用 Notion，最後是用
          GitLab，自動部屬有用 CI/CD 和 Docker ，會經常性與 PM、UI、IT、C#、GoLang、App 溝通討論。
        </p>
        <p>
          最後，因為公司搬遷到內湖，交通不便因素，很遺憾團隊都決定要離開本公司，慶幸大家還有開群一起交流，目前也持續和 GoLang
          主管有外包案合作，真的是收穫良多的一份工作。
        </p>
        <h3>EY 安永聯合會計師事務所</h3>
        <p>
          是一間總部位於英國倫敦的跨國性專業服務公司網絡，與普華永道、德勤和畢馬威合稱四大會計師事務所，我所待的部門是被安永併購的
          EY-Mtel，公司的業務都是外包案，有和許多大型企業合作，我目前經手的專案有寶雅、法國巴黎人壽、BNP、BI 藥廠等前後台的前端開發、Vendor
          Portal 後台及 Line bot 主題，現在仍就職中。
        </p>
        <hr />
        <h2>《未來展望》</h2>
        <p>
          想要成為稱職的軟體工程師，不免要熟練前後端及伺服器，雖然之前有全端工程師的工作經驗，但我很清楚後端和伺服器還有很大的進步空間，現在想先在前端累積一定的程度後，在專精後端，而後端和伺服器就多先開發些
          Side project 慢慢累積經驗。
        </p>
        <h3>1. 前端技能：</h3>
        <p>
          目前正在熟悉 Vue 3 與 TypeScript，熟練之後，打算回去專精 React.js，沒有想說要比較哪個框架比較優秀，只是想要從 React.js
          的開發體驗上，從不同的角度去提升自己的開發技巧。
        </p>
        <p>
          單元測試因為公司都沒有要求，也沒辦法安排時程進去，一直沒有實作的機會，最近也在幫助我太太創業，打算過年後比較不忙，再拿 side
          project 實作。
        </p>
        <p>
          設計方面的話，很可惜直覺上還不夠強烈，雖然有自學 UI 設計的一些觀念，這是我曾經指導過美編寫的簡報
          <a href="https://hackmd.io/@aken/H10o4Q3cB#/" target="_blank">HackMd</a>
          (有誤的地方也歡迎給予指教)，也有用 Adobe XD
          實作，但還是會傾向專精在開發上，設計的話就從實作上慢慢累積經驗就好，至於合作經驗，InVision、Figma、Adobe XD、Zeplin 和 Sketch
          都有合作過，各有優缺，不會討論誰比較好。
        </p>
        <h3>2. 後端技能：</h3>
        <p>
          以前是用 PHP，後來轉到 Node.js，不過之後最想學的應該是 GoLang，但應該會等 Node.js 的開發架構上比較熟練後，才會轉型到 GoLang 上。
        </p>
        <p>資料庫有接觸過 NoSQL，但多數都是用 Mysql 或 MariaDB，有自己寫過 ORM，至於最後會專精甚麼資料庫，目前還沒有深入探討過。</p>
        <p>
          伺服器之前已經有 AWS 的架設經驗，現在則在接觸 GCP，至於為什麼要接觸 GCP，單純只是想了解 GCP 和 AWS
          有甚麼差異，但其實心裡是因為喜歡 Google。
        </p>
        <h3>3. 英語能力</h3>
        <p>
          從小語言能力一直不太好，填鴨式教育真的不太適合我吧，最近才加入巨匠美語，希望能精進英語能力，但我覺得沒有融入生活，還是看不到進步，所以也買了幾本原文書閱讀看看，等比較習慣閱讀原文書之後，再計畫去考多益。
        </p>
        <hr />
        <h2>《讓我們一起成就不凡》</h2>
        <p>
          如果你想要找一個對工作有熱誠，對產品開發很有興趣，有絕對的野心，並期望可以幫助這世界變得更好的工程師，我相信我就是你要找的人！雖然我沒有什麼商業頭腦、不是頂尖工程師、也不是投資理財專家，但是我樂於挑戰，渴望成長，期望在平凡之中成就不凡，面對問題毫不退縮，樂觀進取。若要在此生無憾，必在今生做到，懇請您給予我合作機會，我願意陪您一起努力！
        </p>
      </div>
    </Section>
  </div>
</template>

<script>
export default {
  head: {
    title: '關於我 | 工作經歷 | 前端工程師 | Aken Hu'
  }
}
</script>
<style lang="scss">
.about-section {
  h2 {
    color: #000;
  }
  h3 {
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  a {
    text-decoration: underline;
    color: #8376fb;
  }
  padding-bottom: 60px;
}
</style>
