<template>
  <div class="contact-section">
    <Section cl="u-h:100vh" row-cl="f-align:c f-align-content:c u-h:100%">
      <div class="f-col:10">
        <div class="f-row">
          <div class="f-col:12 u-align:c">
            <h1>讓我加入你們團隊吧</h1>
            <p>如果你想找資深前端工程師，歡迎與我聯繫</p>
          </div>
          <div class="f-col:12 f-col@md:6 f-offset@md:2">
            <address class="u-fs:md">
              <div>
                <span>居住地 :</span>
                新北市永和區
              </div>
              <div>
                <span>電話 :</span>
                <a href="tel:123-456-7890">0988-340-893</a>
              </div>
              <div>
                <span>信箱 :</span>
                <a href="mailto:aken.hu69@gmail.com">aken.hu69@gmail.com</a>
              </div>
            </address>
          </div>
          <div class="f-col:8 u-align:c" />
        </div>
      </div>
      <div class="download-btn-grp">
        <span class="download-btn">
          <a
            rel="104 人力銀行-個人履歷"
            href="https://pda.104.com.tw/my104/resume/manage/getResumePreview?u=q7s181&vn=y2147464u28444a4643444o214q2&switchStatus=2"
            target="_blank"
          >
            <img src="/img/104.png" alt />
          </a>
        </span>
        <span class="download-btn">
          <a rel="Aken 個人履歷及作品集.pdf 下載" href="/files/Aken 個人履歷及作品集.pdf" download>
            <img src="/img/cloud-download-alt-solid.svg" alt />
          </a>
          (PDF 更新中，有需要可先聯繫我)
        </span>
      </div>
    </Section>
  </div>
</template>

<script>
export default {
  head: {
    title: '聯絡我 | 我想加入你們團隊 | 前端工程師 | Aken Hu'
  }
}
</script>
<style lang="scss">
.contact-section {
  address {
    margin-top: 16px;
    span {
      display: inline-block;
      width: 70px;
    }
  }
  a {
    text-decoration: underline;
    color: #388eee;
  }
  .download-btn {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 512px) {
    h1 {
      font-size: 1.8rem;
    }
    address {
      span {
        display: none;
      }
    }
  }
}
</style>
