<template>
  <div>
    <Section row-cl="f-align:c f-align-content:c u-hi:100vh">
      <div class="f-col:12">
        <div class="f-row f-align:c">
          <div class="f-col:6 f-col@md:3">
            <div class="avatar l-align:c">
              <span class="avatar_obj" style="background-image: url(/img/aken2.jpg)" />
            </div>
          </div>
        </div>
      </div>
      <div class="f-col:12 f-col@md:10 f-col@xl:8 u-align:c">
        <h1 class="u-p:20">
          <span class="br@sm">做網站?</span>
          <span>找 Aken 就對了</span>
        </h1>
        <p class="text">
          我是一個充滿熱情的全端工程師(目前正專注於前端技術)，樂於挑戰新事物，對於人生哲理也充滿好奇，只求在平凡中追求不凡。「追求卓越，成就自然會找上你」是我堅信不移的信念，也樂於分享知識寶藏，藉由自己所學，幫助他人解決問題與成長，面對自己心中的「Why」，繼續努力不懈，將工程師這份職業看做畢生的事業，渴望找到藍海寶圖，讓這世界因我創造的服務而變得有些不一樣。
        </p>
      </div>
    </Section>
    <div class="divider">Call</div>
    <Section row-cl="f-align:c">
      <div class="f-col:12 f-col@sm:8 f-col@lg:10">
        <Timeline :data="exp" :class="{ ':crossed': $store.state.bodyWidth > 1024 }" />
      </div>
    </Section>
    <div class="divider">Me</div>
    <Section row-cl="f-align:c">
      <div class="f-col:12 f-col@md:10 u-align:c">
        <h2>資格綜述</h2>
      </div>
      <div class="f-col:12 f-col@md:10">
        <ul class="list">
          <li class="list_item">具有 {{ workTotalYears }} 年的網站開發實務經驗。</li>
          <li class="list_item">相關程式語言 - HTML、CSS、JS、TS、PHP、Node.js。</li>
          <li class="list_item">Framework 與 Library - Kule Lazy 4、Bootstrap Vue、Ant design vue、Element UI、Vue.js、Nuxt.js、React。</li>
          <li class="list_item">打包工具 - Webpack, Gulp</li>
          <li class="list_item">多國語言 - i18n</li>
          <li class="list_item">相關 API - Google MAP API、Facebook API、Wechat API、Line bot API。</li>
          <li class="list_item">網頁 IDE - VS Code。</li>
          <li class="list_item">Server 架設與安裝管理 - Ubuntu、AWS、Alibaba Cloud、Nginx、Apache。</li>
          <li class="list_item">GIt 版本控制 - Bitbucket、GitLab、GitHub。</li>
          <li class="list_item">專案管理軟體應用 - Redmine、Trello。</li>
          <li class="list_item">資料庫管理與應用 - MySQL(熟練)、MongoDB(熟練)、Apollo GraphQL Client(熟練)。</li>
          <li class="list_item">部屬經驗 - GitLab CI + Docker。</li>
          <li class="list_item">六次的私人團隊接案經驗 - 擔任 PM/Frontend、合約/報價單製作、前後台開發。</li>
          <li class="list_item">良好的筆記撰寫習慣 - Notion。</li>
          <li class="list_item">良好的溝通與傾聽技能。</li>
          <li class="list_item">可獨立或與團隊成員搭配合作。</li>
          <li class="list_item">可獨立切版，形象網站、管理後台、RWD網站開發。</li>
          <li class="list_item">可獨立開發組件與效能優化。</li>
        </ul>
      </div>
    </Section>
    <div class="divider">Maybe</div>
  </div>
</template>

<script>
import moment from 'moment'
import Timeline from '@/components/timeline'
export default {
  name: 'Home',
  components: { Timeline },
  data() {
    return {
      workTotalYears: moment('20130201', 'YYYYMMDD').fromNow('y').split(' ')[0],
      exp: [
        {
          era: '工作經歷',
          items: [
            {
              time: '2021/05 - Now',
              title: '安永聯合會計師事務所 前端工程師',
              content: [
                '負責前後台的前端開發',
                '框架/語言 - Vue.js(2, 3), Gulp.js, React.js, Laravel',
                'UI library - Element UI, BootStrap 4',
                '其他 - TypeScript',
                '使用 GitLab 版本控制',
                '專案開發 - 法國巴黎人壽前後台',
                '專案開發 - Vendor Portal 後台',
                '專案開發 - 百靈佳殷格翰(BI) 前後台及 Line@ 主題',
                '專案維護 - 寶雅前後台',
                '專案維護 - Unilever (聯合利華服務網/AHC)前後台及 Line@ 開發',
                '專案維護 - 寵物公園推播管理後台'
              ]
            },
            {
              time: '2020/04 - 2020/05',
              title: '思華科技有限公司 前端工程師',
              content: [
                '公司擁有 100 位以上的工程師，前端 15 位',
                '負責後台、前台、跨平台 App 前端開發',
                '經常與 PM, C#, Golang, IT, QA 等部門進行討論',
                '框架 - Vue, React, Nuxt, Electron',
                'UI library - Ant Design Vue, Element UI',
                '使用 GitLab 和 Docker 進行版本控制與部屬',
                '專案開發 - 虛擬貨幣交易所 (前/後台)',
                '專案開發 - 鷹馬極速瀏覽器官方網站 (前/後台)',
                '專案開發 - 其它 3 項可切換多主題的管理後台',
                '專案開發 - IT 服務部屬應用管理後台',
                '專案維護 - VPN 加速器 App (Electron)'
              ]
            },
            {
              time: '2019/03 - 2020/03',
              title: '邁圈數位整合有限公司 全端工程師',
              content: ['負責 DMP 前端、追蹤碼開發與後端支援', '透過 GTM 埋設客戶網站廣告或追蹤碼', '支援活動/形象網站等外包案']
            },
            {
              time: '2015/10 - 2019/03',
              title: '科睿生物科技股份有限公司 全端工程師',
              content: [
                '收集 Truly 血壓計數據，開發心血管疾病分析 App API',
                '河南正骨醫院臨床合作，獨立開發顧問管理平台網站',
                'AWS、阿里雲建置管理; 官網製作及 Side Project 開發'
              ]
            },
            {
              time: '2013/02 - 2014/01',
              title: '大寶科技有限公司 軟體工程師',
              content: ['開發神念科技腦波耳機相關 Flash 遊戲', '腦波教室測量報告網站、官網製作、伺服器維護']
            }
          ]
        },
        {
          era: '學歷',
          items: [
            {
              time: '2011/09 - 2013/06',
              title: '正修科技大學資訊工程系 碩士',
              content: []
            },
            {
              time: '2009/02 - 2011/05',
              title: '正修科技大學資訊工程系 學士',
              content: []
            }
          ]
        }
      ]
    }
  }
}
</script>
