<template>
  <div>
    <Section>
      <div class="f-col:12">
        <h1>參與專案</h1>
      </div>
      <div class="f-col:12">
        <Tabs :tabs="tabs">
          <TabsContent v-for="(content, k) in tabContents" :key="k" :active="k">
            <div class="f-row">
              <div v-for="(v, k2) in content" :key="k2" class="f-col:12 f-col@md:6 f-col@lg:4">
                <PortfolioCard :data="v" />
              </div>
            </div>
          </TabsContent>
        </Tabs>
      </div>
    </Section>
  </div>
</template>

<script>
import PortfolioCard from '@/components/portfolio-card'
import Tabs from '@/components/tabs'
import TabsContent from '@/components/tabs-content'
import { sideProjectList, caseList, projectList } from '@CONFIG/portfolio'
export default {
  components: { PortfolioCard, Tabs, TabsContent },
  data() {
    return {
      modalShow: false,
      tabs: [
        { name: '公司專案', icon: '' },
        { name: '接案專案', icon: '' },
        { name: 'Side Project', icon: '' }
      ],
      tabContents: [projectList, caseList, sideProjectList]
    }
  },
  head: {
    title: '可獨立開發前/後台 | 開發經驗 | 前端工程師 | Aken Hu'
  }
}
</script>
