<template>
  <div class="resume-section">
    <Section class="f-content">
      <div class="f-col:10">
        <section class="ui-kit">
          <aside>
            <address></address>
            <div class="logo"></div>
            <div class="intro"></div>
            
          </aside>
          <article>
            <header></header>
          </article>
          <header class="header-home">
            <h1 class="header-home-title">
              胡智瑋 Aken Hu
              <span>Full Stack Developer</span>
            </h1>
          </header>
          <article class="article-home">
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
            </div>
          </article>
          <header><h2 class="header-title">Project Experience</h2></header>
        </section>
        <!-- <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section>
        <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section>
        <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section>
        <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section>
        <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section>
        <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section>
        <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section>
        <section>
          <header><h2 class="header-title">XXXXX</h2></header>
          <article></article>
        </section> -->
      </div>
    </Section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      workIssues: [
        '希望性質: 全職工作、Remote',
        '上班時段: 日班、0900-1800',
        '可上班日: 2021/05/30',
        // '希望待遇: 年薪 120 萬以上',
        '希望地點: 台北、台中、高雄',
        '希望職稱: 資深前端工程師',
        '希望產業: 軟體及網路相關業、醫療保健及環境衛生業、文教相關業、旅遊／休閒／運動業、金融投顧及保險業'
      ],
      portfolio: [
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] },
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] },
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] },
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] }
      ],
      sideProject: [
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] },
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] },
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] },
        { title: '', link: '', imgs: [''], contents: [{ label: '', message: '' }] }
      ]
    }
  },
  head: {
    title: '我的履歷 | 工作經歷 | 前端工程師 | Aken Hu'
  }
}
</script>
<style lang="scss" scoped>
$header-bg: #3b3b3d;
$title-bg: #ca9227;
@page {
  size: A4;
  margin: 0;
}
.resume-section {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  section {
    margin-bottom: 40px;
  }
  header {
    background: $header-bg;
    padding: 20px 20px 20px 0;
    .header-title {
      background: $title-bg;
      display: inline-block;
      min-width: 200px;
      padding: 4px 20px;
      color: #fff;
    }
  }
}
</style>
