<template>
  <div>
    <Section id="skill-section">
      <div class="f-col:12">
        <h1>技能專長</h1>
        <details open="open" class="">
          <summary class="h5">程式語言 - Programming Language</summary>
          <div class="details_content u-align:c">
            <div class="f-row">
              <div class="f-col:12">
                <div class="f-row">
                  <div class="f-col:6 f-col@md:4 f-col@lg:2">
                    <ChartDonut :value="90">HTML5</ChartDonut>
                  </div>
                  <div class="f-col:6 f-col@md:4 f-col@lg:2">
                    <ChartDonut :value="90">CSS3</ChartDonut>
                  </div>
                  <div class="f-col:6 f-col@md:4 f-col@lg:2">
                    <ChartDonut :value="90">JS</ChartDonut>
                  </div>
                  <div class="f-col:6 f-col@md:4 f-col@lg:2">
                    <ChartDonut :value="70">Node.js</ChartDonut>
                  </div>
                  <div class="f-col:6 f-col@md:4 f-col@lg:2">
                    <ChartDonut :value="60">PHP</ChartDonut>
                  </div>
                  <div class="f-col:6 f-col@md:4 f-col@lg:2">
                    <ChartDonut :value="70">TypeScript</ChartDonut>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">前端框架 - Framework</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="85">Vue.js (v2/v3)</ProgressSkill>
                <ProgressSkill :value="80">Nuxt.js</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="85">React.js</ProgressSkill>
                <ProgressSkill :value="80">Next.js</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">UI - UI Library</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="70">BootStrap Vue</ProgressSkill>
                <ProgressSkill :value="80">Kule Lazy 4</ProgressSkill>
                <ProgressSkill :value="70">Tailwind CSS</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="90">Ant Design Vue</ProgressSkill>
                <ProgressSkill :value="90">Element UI</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">作業系統 - OS</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="50">Windows Server 2003</ProgressSkill>
                <ProgressSkill :value="60">Linux Ubuntu</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="50">Windows Server 2012</ProgressSkill>
                <!-- <ProgressSkill :value="70">Mac</ProgressSkill> -->
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">網頁伺服器 - Web Server</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="60">Nginx</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="60">Apache</ProgressSkill>
                <ProgressSkill :value="40">IIS</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">雲伺服器 - Cloud Server</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="50">Alibaba Cloud</ProgressSkill>
                <ProgressSkill :value="50">AWS</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="30">GCP</ProgressSkill>
                <ProgressSkill :value="40">ConoHa</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">資料庫 - Database</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="60">MySQL</ProgressSkill>
                <ProgressSkill :value="60">MariaDB</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="50">Apollo GraphQL Client</ProgressSkill>
                <ProgressSkill :value="40">MongoDB</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">其他 - Others</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="50">Wordpress</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="60">Cloudflare</ProgressSkill>
                <ProgressSkill :value="80">Git</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">其他工具 - Tools</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="80">VS Code</ProgressSkill>
                <ProgressSkill :value="60">Xmind</ProgressSkill>
                <ProgressSkill :value="50">Vim</ProgressSkill>
                <ProgressSkill :value="60">MySQL Workbench</ProgressSkill>
                <ProgressSkill :value="70">PHPMyAdmin</ProgressSkill>
                <ProgressSkill :value="60">Navicat Premium</ProgressSkill>
                <ProgressSkill :value="60">RedMine</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="60">Webpack</ProgressSkill>
                <ProgressSkill :value="50">Gulp.js</ProgressSkill>
                <ProgressSkill :value="60">XAMPP</ProgressSkill>
                <ProgressSkill :value="50">MAMP</ProgressSkill>
                <ProgressSkill :value="50">Adobe XD</ProgressSkill>
                <ProgressSkill :value="40">Adobe Photoshop</ProgressSkill>
                <ProgressSkill :value="40">Adobe Illustrator</ProgressSkill>
                <ProgressSkill :value="50">Figma</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">認證資格 - Certifications</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="100">丙級網頁設計技術士</ProgressSkill>
                <ProgressSkill :value="100">丙級電腦硬體裝修技術士</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="100">丙級電腦軟體應用技術士</ProgressSkill>
                <ProgressSkill :value="100">IC3</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
        <details open="open" class="">
          <summary class="h5">英語能力 - English</summary>
          <div class="details_content">
            <div class="f-row">
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="20">聽</ProgressSkill>
                <ProgressSkill :value="20">說</ProgressSkill>
              </div>
              <div class="f-col:12 f-col@md:6">
                <ProgressSkill :value="30">讀</ProgressSkill>
                <ProgressSkill :value="20">寫</ProgressSkill>
              </div>
            </div>
          </div>
        </details>
      </div>
    </Section>
  </div>
</template>

<script>
import ProgressSkill from '@/components/progress-skill'
import ChartDonut from '@/components/chart-donut'
export default {
  components: { ProgressSkill, ChartDonut },
  head: {
    title: '技能專長 | 永遠學不完的持續精進技能 | 前端工程師 | Aken Hu'
  }
}
</script>
<style lang="scss">
.details_content {
  .f-row {
    svg {
      max-height: 100px;
    }
  }
}
#skill-section {
  .accordion_content:before,
  .details_content:before {
    left: 0;
  }
}
</style>
