<template>
  <div :id="$attrs.id" :disabled="$attrs.disabled" :class="$attrs.cl" :style="$attrs.stl" class="carousel">
    <div class="carousel_stage">
      <div
        v-for="(v, k) in data"
        :key="k"
        :class="[k === myIndex ? 'is:on' : '', v.to || v.href ? ':pointer' : '']"
        class="carousel_item"
        @click="link(v)"
      >
        <div v-if="v.src" class="embed">
          <span :style="`background-image: url(${v.src});`" class="embed_media" />
          <img :src="v.src" :alt="v.alt" />
        </div>
      </div>
    </div>
    <template v-if="$attrs.hasOwnProperty('ctrl')">
      <button class="carousel_ctrl :prev" @click="prev(1)" />
      <button class="carousel_ctrl :next" @click="next(1)" />
    </template>
    <div v-if="$attrs.hasOwnProperty('nav')" :class="$attrs.nav" class="carousel_nav">
      <button v-for="(v, k) in data" :key="k" :class="k === myIndex ? 'is:on' : ''" class="carousel_nav_item" @click="myIndex = k" />
    </div>
    <div class="carousel_screen" />
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    data: {
      type: Array,
      default() {
        return []
      }
    },
    active: {
      type: Number,
      default() {
        return 0
      }
    },
    time: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      myIndex: 0,
      timer: null
    }
  },
  watch: {
    active: {
      handler(v) {
        this.myIndex = v
      },
      immediate: true
    },
    time: {
      handler(v) {
        this.runTimer()
      },
      immediate: true
    }
  },
  methods: {
    prev(isClick) {
      if (isClick) {
        this.runTimer()
      }

      if (this.myIndex > 0) {
        this.myIndex -= 1
      } else {
        this.myIndex = this.data.length - 1
      }
    },
    next(isClick) {
      if (isClick) {
        this.runTimer()
      }

      if (this.myIndex < this.data.length - 1) {
        this.myIndex += 1
      } else {
        this.myIndex = 0
      }
    },
    runTimer() {
      if (this.time) {
        clearInterval(this.timer)
        this.timer = setInterval(() => {
          this.next(0)
        }, this.time * 1000)
      } else {
        clearInterval(this.timer)
      }
    },
    link(v) {
      if (v.href) {
        if (v.href.url) {
          if (v.href.target) {
            window.open(v.href.url, v.href.target)
          } else {
            window.location.href = v.href.url
          }
        } else {
          window.location.href = v.href
        }
      }

      if (v.to) {
        this.$router.push(v.to)
      }
    }
  }
}
</script>
