<template>
  <svg width="100%" height="100%" viewBox="0 0 42 52" class="donut">
    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff" />
    <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3" />
    <circle
      :style="{ strokeDashoffset: 100 - childValue || 100 }"
      class="donut-segment"
      cx="21"
      cy="21"
      r="15.91549430918954"
      fill="transparent"
      stroke="#707070"
      stroke-width="4"
    />
    <text fill="#4e4e4e" x="21" y="24.5" text-anchor="middle">
      {{ childValue + '%' }}
    </text>
    <text fill="#4e4e4e" x="21" y="50" text-anchor="middle">
      <slot />
    </text>
  </svg>
</template>
<script>
export default {
  props: {
    value: {
      type: Number,
      default() {
        return 0
      }
    }
  },
  data() {
    return {
      childValue: 0
    }
  },
  mounted() {
    setTimeout(() => {
      this.childValue = this.value
    }, 100)
  }
}
</script>
