<template>
  <div class="modal" :class="{ 'is:on': value }">
    <div class="modal_container">
      <header class="modal_head">
        <h3 class="modal_title">{{ title }}</h3>
      </header>
      <main class="modal_body">
        <div class="modal_content">
          <slot name="body"></slot>
        </div>
      </main>
      <footer class="modal_foot">
        <slot name="foot"></slot>
      </footer>
    </div>
    <div class="modal_mask"></div>
  </div>
</template>
<script>
export default {
  name: 'Modal',
  props: {
    value: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  }
}
</script>
