<template>
  <div class="card portfolio-card">
    <div class="card_media">
      <Carousel :data="data.imgs" :active="0" ctrl />
    </div>
    <header class="card_head">
      <div class="card_head_title u-dsp:f f-align:m f-align:j">
        <h2>{{ data.title }}</h2>
        <a v-if="data.link" :href="data.link" target="_blank" class="icon-link">
          <img src="/img/external-link-alt-solid.svg" alt="link icon" />
        </a>
      </div>
      <div class="card_date">{{ data.date.join(' - ') }}</div>
      <p class="card_sub_title">{{ data.description }}</p>
    </header>
    <div class="card_body">
      <ul>
        <li v-for="(v, k) in data.contents" :key="k">
          <div v-if="v.length" class="content_box">
            <div class="content_box_label">
              {{ projectNorm[k] }}
            </div>
            <div class="content">
              <div v-for="tab in v" :key="tab" class="tag">
                <span class="tag_txt">{{ tab }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import Carousel from '@/components/carousel'
import { projectNorm } from '@CONFIG/portfolio'
export default {
  components: { Carousel },
  props: {
    data: {
      type: Object,
      default() {
        return {
          imgs: [{ src: '/img/portfolio/demo.jpg', alt: 'image' }],
          link: 'https://banmao.com.tw',
          title: '華為新影像活動網站',
          content: '邁圈數位整合產品 - 追蹤碼資料管理平台'
        }
      }
    }
  },
  data() {
    return {
      projectNorm
    }
  }
}
</script>

<style lang="scss">
.portfolio-card {
  h2 {
    font-size: 1.2em;
    font-weight: 600;
  }
  h4 {
    font-size: 1rem;
    color: #777;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
    }
  }
  .content_box {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    .content_box_label {
      flex: 0 0 auto;
      font-size: 0.9rem;
    }
    .content {
      padding-left: 12px;
      flex: 1 1 100%;
    }
  }
  .tag_txt {
    font-size: 14px;
    padding: 4px;
  }
}
.card {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 0;
  margin: 12px 0;
  .card_head {
    background-color: #fff;
    border-bottom: none;
    /* padding-bottom: 0; */

    a {
      width: 0.8rem;
    }
    .card_date {
      margin: 2px 0 8px 0;
      font-size: 0.8rem;
      color: rgba(71, 71, 71, 0.54);
      letter-spacing: 1px;
    }
    .card_sub_title {
    }
  }
  .card_body {
    padding-top: 12px;
    border-top: 1px solid rgba(119, 119, 119, 0.14);
  }
}
</style>
