<template>
  <div class="progress-skill">
    <h5 class="title"><slot /></h5>
    <div :class="$attrs.cl" class="progress">
      <div :data-value="childValue + '%'" :style="{ width: `${childValue}%` }" class="progress_bar :striped" />
    </div>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    value: {
      type: Number,
      default() {
        return 0
      }
    }
  },
  data() {
    return {
      childValue: 0
    }
  },
  mounted() {
    setTimeout(() => {
      this.childValue = this.value
    }, 100)
  }
}
</script>
