<template>
  <section :id="$attrs.id" :class="$attrs.cl" class="article-section">
    <div :class="$attrs['row-cl']" class="f-row f-content">
      <slot />
    </div>
  </section>
</template>
<script>
export default {
  inheritAttrs: false
}
</script>
