<template>
  <div class="tab_content" :class="{ 'is:on': Tab.active === active }">
    <slot></slot>
  </div>
</template>
<script>
export default {
  inject: ['Tab'],
  props: {
    active: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {}
  }
}
</script>
<style lang="scss">
.tab_content {
  /* NOTE: 預設是 hidden，若內容有加陰影會被隱藏溢位的畫面*/
  overflow: visible;
}
</style>
