<template lang="html">
  <div class="tab">
    <header class="tab_head">
      <a v-for="(v, k) in tabs" :key="v.name" class="tab_item" :class="{ 'is:on': active === k }" @click="active = k">
        <i v-if="v.icon" :class="['icon', v.icon]"></i>
        <span class="tab_item_name">{{ v.name }}</span>
      </a>
      <a class="tab_item"></a>
    </header>
    <main class="tab_body">
      <slot></slot>
    </main>
  </div>
</template>
<script>
export default {
  provide() {
    return {
      Tab: this
    }
  },
  inheritAttrs: false,
  props: {
    tabs: {
      type: Array,
      default: () => [{ name: '', icon: '' }]
    },
    contents: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      active: 0
    }
  }
}
</script>
