<template>
  <div class="timeline">
    <template v-for="(v, k) in data" class="timeline_item">
      <h4 :key="`era_${k}`" class="timeline_era">{{ v.era }}</h4>
      <div v-for="(v2, k2) in v.items" :key="`item_${k}_${k2}`" class="timeline_item">
        <div class="timeline_axis" />
        <time class="timeline_time">{{ v2.time }}</time>
        <div class="timeline_content">
          <h6>{{ v2.title }}</h6>
          <p>
            <span v-for="(v3, k3) in v2.content" :key="k3">．{{ v3 }}</span>
          </p>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
export default {
  props: {
    data: {
      type: Array,
      default() {
        return [
          {
            era: '',
            items: [{ time: '', title: '', content: '' }]
          }
        ]
      }
    }
  }
}
</script>
<style lang="scss">
.timeline_content {
  h6 {
    margin-bottom: 16px;
    font-weight: bold;
  }
  span {
    margin-top: 2px;
    display: block;
  }
}
</style>
