<template>
  <aside>
    <div class="nav_main">
      <header class="u-p:20 u-align:c">
        <img src="/img/logo.png" alt="Aken" />
      </header>
      <ul class="nav :vertical">
        <li v-for="{ name, path } in asideMenu" :key="path" class="nav_col">
          <nuxt-link :to="path" class="nav_item" @click.native="$store.commit('switchNavIcon')">{{ name }}</nuxt-link>
        </li>
      </ul>
      <div class="copyright u-fs:xs u-bk:40 u-align:c">
        <div>
          <a class="u-m:5 u-dsp:ib" target="_blank" href="https://www.facebook.com/akenhu69">
            <img class="u-w:75%" src="/img/icon-fb.png" alt />
          </a>
          <a class="u-m:5 u-dsp:ib" target="_blank" href="https://www.instagram.com/aken.hu/">
            <img class="u-w:75%" src="/img/icon-ig.png" alt />
          </a>
          <a class="u-m:5 u-dsp:ib" href="mailto:aken.hu69@gmail.com"><img class="u-w:75%" src="/img/icon-email.png" alt /></a>
        </div>
        <p>
          Copyright © 2020 All rights reserved by
          <span class="u-dsp:i u-dsp@md:b">Aken</span>
        </p>
      </div>
    </div>
  </aside>
</template>
<script>
import asideMenu from '@CONFIG/aside.js'
export default {
  name: 'LayoutAside',
  data() {
    return {
      asideMenu
    }
  }
}
</script>
