<template>
  <div id="l-body">
    <Header />
    <Aside id="l-aside" :class="{ open: $store.state.navIconOpen }" />
    <main id="l-main">
      <VueScroll ref="scroll">
        <article id="l-article" class="container">
          <Nuxt />
        </article>
      </VueScroll>
    </main>
    <Footer />
    <div id="nav_icon" :class="{ open: $store.state.navIconOpen }" @click="$store.commit('switchNavIcon')">
      <span />
      <span />
      <span />
    </div>
  </div>
</template>

<script>
import Header from '@/layouts/header.vue'
import Footer from '@/layouts/footer.vue'
import Aside from '@/layouts/aside.vue'

export default {
  name: 'LayoutBody',
  components: {
    Header,
    Footer,
    Aside
  },
  watch: {
    $route() {
      // setTimeout(() => {
      // NOTE: 先固定所有 route 切換都 scroll to top，如果之後要跟據其它畫面至頂的話，就搬到各自 page 上
      this.$refs.scroll.scrollTo(
        { y: 0, x: 0 },
        700
        // 'easeInQuad'
      )
      // }, 400)
    }
  },
  created() {
    if (this.$isServer) {
      console.info('[Server message]: this message is from layouts/default.vue on created')
    } else {
      console.info('[Client message]: this message is from layouts/default.vue on created')
    }
  },
  beforeMount() {
    if (!this.$isServer) {
      this.updateBodyWidth()
      window.addEventListener('resize', () => {
        this.updateBodyWidth()
      })
    }
  },
  methods: {
    updateBodyWidth() {
      this.$store.commit('updateBodyWidth')
    }
  }
}
</script>
