<template>
  <div class="page404 f-row f-align:m f-align:c f-flex:fluid">
    <div class="f-col u-align:c">
      <h1>500</h1>
      <h2>Unexpected Error</h2>
      <NuxtLink to="/">Home page</NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
  layout: '500Error'
}
</script>
<style lang="scss">
.f-row {
  height: 100%;
}
</style>
